:host {
    display: contents;
}

#tooltip {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    overflow: hidden;
    pointer-events: none;
    z-index: var(--z-index-tooltop, 900800);
}

::slotted([slot="tooltip"]) {
    pointer-events: all;
}
