/* scrollbar */
::-webkit-scrollbar {
    width: var(--scrollbar-size, 8px);
    height: var(--scrollbar-size, 8px);
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color, #eeeeee);
    border-style: var(--scrollbar-track-border-style, solid);
    border-width: var(--scrollbar-track-border-width, 0px);
    border-color: var(--scrollbar-track-border-color, #00000000);
    border-radius: var(--scrollbar-track-border-radius, 0px);
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner-color, #00000000);
    border-style: var(--scrollbar-corner-border-style, solid);
    border-width: var(--scrollbar-corner-border-width, 0px);
    border-color: var(--scrollbar-corner-border-color, #00000000);
    border-radius: var(--scrollbar-corner-border-radius, 0px);
}

::-webkit-resizer {
    background-color: transparent;
    background-image: linear-gradient(to top left,
            transparent 16%,
            var(--scrollbar-resizer-bottom-color, #ffffff) 17%,
            var(--scrollbar-resizer-bottom-color, #ffffff) 23%,
            var(--scrollbar-resizer-top-color, #525252) 23%,
            var(--scrollbar-resizer-top-color, #525252) 29%,
            transparent 30%,
            transparent 36%,
            var(--scrollbar-resizer-bottom-color, #ffffff) 37%,
            var(--scrollbar-resizer-bottom-color, #ffffff) 43%,
            var(--scrollbar-resizer-top-color, #525252) 43%,
            var(--scrollbar-resizer-top-color, #525252) 49%,
            transparent 50%);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color, #cccccc);
    border-style: var(--scrollbar-thumb-border-style, solid);
    border-width: var(--scrollbar-thumb-border-width, 2px);
    border-color: var(--scrollbar-thumb-border-color, #eeeeee);
    border-radius: var(--scrollbar-thumb-border-radius, 0px);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color, #999999);
    border-style: var(--scrollbar-thumb-hover-border-style, solid);
    border-width: var(--scrollbar-thumb-hover-border-width, 2px);
    border-color: var(--scrollbar-thumb-hover-border-color, #eeeeee);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active-color, #000000);
    border-style: var(--scrollbar-thumb-active-border-style, solid);
    border-width: var(--scrollbar-thumb-active-border-width, 2px);
    border-color: var(--scrollbar-thumb-active-border-color, #eeeeee);
}

/* disabled scrollbar */
:host([disabled]:not([disabled="false"])) ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-disabled-track-color, #6a6a6a);
    border-color: var(--scrollbar-disabled-track-border-color, #00000000);
}

:host([disabled]:not([disabled="false"])) ::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-disabled-corner-color, #00000000);
    border-color: var(--scrollbar-disabled-corner-border-color, #00000000);
}

:host([disabled]:not([disabled="false"])) ::-webkit-resizer {
    background-image: linear-gradient(to top left,
            transparent 16%,
            var(--scrollbar-disabled-resizer-bottom-color, #999999) 17%,
            var(--scrollbar-disabled-resizer-bottom-color, #999999) 23%,
            var(--scrollbar-disabled-resizer-top-color, #757575) 23%,
            var(--scrollbar-disabled-resizer-top-color, #757575) 29%,
            transparent 30%,
            transparent 36%,
            var(--scrollbar-disabled-resizer-bottom-color, #999999) 37%,
            var(--scrollbar-disabled-resizer-bottom-color, #999999) 43%,
            var(--scrollbar-disabled-resizer-top-color, #757575) 43%,
            var(--scrollbar-disabled-resizer-top-color, #757575) 49%,
            transparent 50%);
}

:host([disabled]:not([disabled="false"])) ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-disabled-thumb-color, #757575);
    border-color: var(--scrollbar-disabled-thumb-border-color, #999999);
}
