:host {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    min-height: calc(var(--navigation-button-height, 1.5em) + 2 * var(--navigation-button-margin-y, 2px));
    color: var(--navigation-text-color, #000000);
    background-color: var(--navigation-back-color, #ffffff);
    flex-grow: 0;
    flex-shrink: 0;
    z-index: var(--z-index-navbar, 900400);
}

#container {
    display: flex;
    margin: 0;
    width: 100%;
    z-index: 100;
}

#cover {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#container.cover #cover,
#container.open #cover,
#container.focus-open #cover,
#container.touch-open #cover {
    display: block;
}

#hamburger-button {
    position: relative;
    display: none;
    width: var(--navigation-button-touch-height, 3em);
    height: var(--navigation-button-touch-height, 3em);
    margin: 0;
    transition: transform 0.2s ease-in-out;
    z-index: 100;
}

#hamburger-button[open]:not([open="false"]) {
    transform: translateX(calc(100dvw - (var(--navigation-button-touch-height, 3em) + 10px)));
}

ul {
    position: relative;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -moz-padding-start: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    background-color: var(--navigation-back-color, #ffffff);
    list-style: none;
}

ul li {
    position: relative;
    min-width: 50px;
    margin: var(--navigation-button-margin-y, 2px) var(--navigation-button-margin-x, 4px);
    background-color: var(--navigation-back-color, #ffffff);
}

ul > li {
    display: inline-block;
}

ul > li > ul {
    left: 0;
    min-width: 100px;
    z-index: 100;
}

ul#content {
    display: inline-flex;
    margin: 0;
    z-index: 1;
}

ul li > emc-navbar-button {
    height: var(--navigation-button-height, 1.5em);
    width: 100%;
}

#content-right {
    display: inline-flex;
    justify-content: flex-end;
    background-color: var(--navigation-back-color, #ffffff);
    z-index: 1;
}

:host(:empty) #content-right {
    display: none;
}

::slotted(*) {
    display: inline-block;
    height: var(--navigation-button-height, 1.5em);
    margin: var(--navigation-button-margin-y, 2px) var(--navigation-button-margin-x, 4px);
}

::slotted(.nav-button) {
    box-sizing: border-box;
    color: var(--navigation-button-text-color, #000000);
    background-color: var(--navigation-button-back-color, #ffffff);
    border-style: solid;
    border-width: var(--navigation-button-border-width, 1px);
    border-color: var(--navigation-button-border-color, #000000);
    border-radius: var(--navigation-button-border-radius, 0px);
    cursor: pointer;
}

::slotted(.nav-button:hover) {
    box-shadow: var(--navigation-button-marker-color, #000000) inset 0px 0px 2px 1px;
}

::slotted(.nav-button:active) {
    box-shadow: var(--navigation-button-marker-color, #000000) inset 0px 0px 4px 3px;
}

::slotted(.nav-button:focus-visible) {
    box-shadow: var(--navigation-button-marker-color, #000000) 0px 0px 4px 3px;
    z-index: 1;
}

@media (max-width: 500px) {
    :host {
        display: block;
        min-height: var(--navigation-button-touch-height, 3em);
    }

    #container {
        position: absolute;
        flex-direction: column;
        width: calc(100dvw - (var(--navigation-button-touch-height, 3em) + 10px));
        left: -100dvw;
        max-height: 100dvh;
        transition: left 0.2s ease-in-out;
        box-shadow: var(--navigation-shadow-color, #000000) 2px 4px 8px 2px;
    }

    #container.open {
        left: 0;
    }

    #hamburger-button {
        display: inline-block;
    }

    ul#content {
        flex-direction: column;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }

    ul > li > ul {
        display: none;
        width: 100%;
        padding: 0 0 0 20px;
    }

    ul > li.open > ul,
    ul > li.focus-open > ul,
    ul > li.touch-open > ul {
        display: flex;
        flex-direction: column;
    }

    ul > li > ul:not(:last-child) {
        padding-bottom: 4px;
    }

    ul li > emc-navbar-button {
        height: var(--navigation-button-touch-height, 3em);
        --justify-content: flex-start;
    }

    #content-right {
        padding-top: 4px;
        border-top-style: solid;
        border-top-width: 1px;
    }

    #content:not(:empty) + #content-right {
        border-top-color: var(--navigation-text-color, #000000);
    }

    emc-navbar-button {
        white-space: pre-wrap;
    }

    ::slotted(*) {
        height: var(--navigation-button-touch-height, 3em);
    }
}

@media (min-width: 501px) {
    ul#content {
        flex-wrap: wrap;
        width: 100%;
    }

    ul > li > ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0px;
        left: 100%;
        transition: transform 0.2s ease-in-out;
        transform-origin: left top;
        transform: scale(0);
    }

    ul:not(:hover) > li > ul {
        pointer-events: none;
    }

    ul#content > li > ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0px;
        transition: transform 0.2s ease-in-out;
        transform-origin: center top;
        transform: scaleY(0);
    }

    ul > li.open > ul,
    ul > li.focus-open > ul,
    ul > li.touch-open > ul {
        box-shadow: var(--navigation-shadow-color, #000000) 2px 4px 4px 0px;
        transform: scale(1);
    }

    ul#content > li.open > ul,
    ul#content > li.focus-open > ul,
    ul#content > li.touch-open > ul {
        box-shadow: var(--navigation-shadow-color, #000000) 2px 4px 4px 0px;
        transform: scaleY(1);
    }

    ul > li > ul > li {
        display: inline-block;
    }

    #content-right {
        margin-left: auto;
    }
}
