@keyframes autoclose {
    0% {
        width: calc(100% - 27px)
    }

    100% {
        width: 0
    }
}

#close {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    width: 15px;
    height: 15px;
    padding: 0px;
    border: none;
    align-items: center;
    justify-content: center;
    color: var(--color, #000000);
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    font-size: 10px;
    line-height: 1em;
    pointer-events: all;
}

#close:hover {
    color: var(--background-color, #ffffff);
    background-color: var(--color, #ff0000);
}

#close:focus {
    outline: none;
}

#autoclose {
    position: absolute;
    right: 22px;
    top: 7px;
    width: 0px;
    height: 4px;
    background-color: var(--color, #ff0000);
}

:host(:hover) #autoclose {
    animation-play-state: paused !important;
}
