<div id="container">
    <div id="image-container">
        <img id="image" draggable="false"></img>
    </div>
    <div id="mask"></div>
    <div id="resize-container">
        <div id="top-left-resizer" class="resize-corner" tabindex="0" data-corner="tl"></div>
        <div id="top-right-resizer" class="resize-corner" tabindex="0" data-corner="tr"></div>
        <div id="bottom-left-resizer" class="resize-corner" tabindex="0" data-corner="bl"></div>
        <div id="bottom-right-resizer" class="resize-corner" tabindex="0" data-corner="br"></div>
    </div>
</div>
