:host {
    width: min-content;
    min-height: min-content;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #eaeaea);
    border-style: solid;
    border-width: var(--button-border-width, 2px);
    border-color: var(--button-border-color, #222222);
    border-radius: var(--button-border-radius, 6px);
    user-select: none;
    overflow: hidden;
}

:host(:focus) {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: min-content;
    min-height: min-content;
    height: 100%;
    padding: 6px;
    outline: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

#container:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #353935);
}

:host(.selected) #container {
    color: var(--button-active-text-color, #000000);
    background-color: var(--button-active-back-color, #00dbd0);
    border-color: var(--button-active-border-color, #007b75);
}

:host(.selected) #container:hover {
    color: var(--button-active-hover-text-color, #ffffff);
    background-color: var(--button-active-hover-back-color, #353935);
}

#image-background {
    flex-shrink: 0;
    width: var(--image-preview-size, 100px);
    height: var(--image-preview-size, 100px);
    background-color: #ffffff;
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

#image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    pointer-events: none;
}

#text {
    max-width: var(--image-preview-size, 100px);
    width: 100%;
    margin-top: 8px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

/* --- */

:host([background="light"]) #image-background {
    background-color: var(--image-preview-light-back-color, #ffffff);
    border-color: var(--image-preview-light-border-color, #000000);
}

:host([background="dark"]) #image-background {
    background-color: var(--image-preview-dark-back-color, #222222);
    border-color: var(--image-preview-dark-border-color, #ffffff);
}

:host([background="light-checkered"]) #image-background {
    background-color: var(--image-preview-light-checkered-back-color, #ffffff);
    background-image:
        linear-gradient(45deg, var(--image-preview-light-checkered-grid-color, #969696) 25%, transparent 25%),
        linear-gradient(-45deg, var(--image-preview-light-checkered-grid-color, #969696) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--image-preview-light-checkered-grid-color, #969696) 75%),
        linear-gradient(-45deg, transparent 75%, var(--image-preview-light-checkered-grid-color, #969696) 75%);
    border-color: var(--image-preview-light-checkered-border-color, #000000);
}

:host([background="dark-checkered"]) #image-background {
    background-color: var(--image-preview-dark-checkered-back-color, #929292);
    background-image:
        linear-gradient(45deg, var(--image-preview-dark-checkered-grid-color, #222222) 25%, transparent 25%),
        linear-gradient(-45deg, var(--image-preview-dark-checkered-grid-color, #222222) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--image-preview-dark-checkered-grid-color, #222222) 75%),
        linear-gradient(-45deg, transparent 75%, var(--image-preview-dark-checkered-grid-color, #222222) 75%);
    border-color: var(--image-preview-dark-checkered-border-color, #ffffff);
}
