<emc-input-search id="search"></emc-input-search>
<emc-form-row id="view-control" class="size-normal">
    <emc-button id="view-size-small" text="small" tooltip="make preview small"></emc-button>
    <emc-button id="view-size-normal" text="normal" tooltip="make preview normal" active></emc-button>
    <emc-button id="view-size-big" text="big" tooltip="make preview big"></emc-button>
    <emc-button id="view-size-gigantic" text="very big" tooltip="make preview very big"></emc-button>
</emc-form-row>
