:host {
    display: inline-block;
    min-width: 200px;
    min-height: 10em;
    --length-info-color: var(--input-length-info-text-color, #757575);
}

:host([readonly]:not([readonly="false"])) {
    /* BUTTONS */
    --button-hover-color: var(--input-button-hover-text-color, #000000);
    --button-hover-background-color: var(--input-button-hover-back-color, #b3e5ec);
}

:host([readonly]:not([readonly="false"]):invalid) {
    /* BUTTONS */
    --button-hover-color: var(--input-button-invalid-hover-text-color, #000000);
    --button-hover-background-color: var(--input-button-invalid-hover-back-color, #ff4444);
}

/* TODO handle resizing at textarea if length info is not active
*/
#container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
    padding: 0px;
    color: var(--color);
    background-color: var(--background-color);
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    resize: none;

    &.expanded {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        border-style: none;
        border-radius: 0px;
        resize: none !important;
        z-index: var(--z-index-input-expanded, 100000000);

        #input {
            min-height: initial;
            max-height: initial;

            &:focus {
                box-shadow: 0 0 2px 3px var(--focus-color);
            }
        }
    }

    &:not(.expanded):focus-within {
        box-shadow: 0 0 2px 3px var(--focus-color);
        z-index: 1;
    }
}

:host([resize="horizontal"]) #container {
    resize: horizontal;
}

:host([resize="vertical"]) #container {
    resize: vertical;
}

:host([resize="both"]) #container {
    resize: both;
}

#input {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    min-width: 0px;
    min-height: 0px;
    padding: 7px;
    resize: none;
    color: var(--color);
    background-color: var(--background-color);
    border: none;
    font-size: 1em;
    overflow: auto;
    text-align: inherit;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--placeholder-color);
    }
}

:host([stretch]:not([stretch="false"])) #input {
    flex-grow: 1;
    height: 100%;
    min-height: initial;
    max-height: initial;
    resize: none;
}

/* --- */
#header {
    display: flex;
    justify-content: flex-end;
    border-bottom-style: solid;
    border-bottom-width: var(--border-width);
    border-bottom-color: var(--border-color);
}

/* TODO show footer only if length info is active
*/
#footer {
    display: flex;
    justify-content: flex-end;
    min-height: 18px;
    padding: 2px 20px;
    border-top-style: solid;
    border-top-width: var(--border-width);
    border-top-color: var(--border-color);
}

#length-info {
    color: var(--length-info-color);
    font-size: 0.7em;
    user-select: none;
}

#expand-button {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    border: none;
    align-items: center;
    justify-content: center;
    color: var(--button-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    user-select: none;
    appearance: none;
    font-size: 1em;
    line-height: 1em;

    &:focus {
        box-shadow: 0 0 2px 3px var(--focus-color);
        outline: none;
    }

    &:hover {
        color: var(--button-hover-color);
        background-color: var(--button-hover-background-color);
    }
}
