:host {
    --max-width: 1000px;
}

#settings-panel {
    border: none;
    border-radius: 0px;
    z-index: 0;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 5px;
    border-top-style: solid;
    border-top-width: var(--page-border-width, 2px);
    border-top-color: var(--page-border-color, #222222);
    z-index: 1;

    & > * {
        margin: 0px 5px;

        &.button {
            min-width: 100px;
        }

        &:nth-last-child(1 of [align~="left"]) {
            margin-right: auto !important;
        }

        &:nth-child(1 of [align~="right"]) {
            margin-left: auto !important;
        }
    }
}
