#modal {
    display: flex;
    flex-direction: column;
    min-width: min(500px, calc(100dvw - 20px));
    max-width: min(1000px, calc(100dvw - 20px));
    min-height: min(200px, calc(100dvh - 20px));
    max-height: min(800px, calc(100dvh - 20px));
    padding: 0px;
    color: var(--modal-text-color, #000000);
    background-color: var(--modal-back-color, #ffffff);
    border-style: solid;
    border-width: var(--modal-border-width, 2px);
    border-color: var(--modal-border-color, #cccccc);
    border-radius: 4px;
    font-size: 1rem;
    pointer-events: all;
    box-shadow: #000000c4 11px 11px 20px 0px;
    z-index: var(--z-index-keybindeditpanel, 900900);
}

#modal:-internal-dialog-in-top-layer {
    z-index: calc(var(--z-index-keybindeditpanel, 900600) + 1);
}

#modal:-internal-dialog-in-top-layer::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#modal:focus-visible {
    outline: none;
}

#title {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    color: var(--modal-header-text-color, #000000);
    background-color: var(--modal-header-back-color, #e4e4e4);
    border-bottom: solid var(--modal-border-width, 2px) var(--modal-border-color, #cccccc);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    line-height: 1em;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    scroll-padding-top: 20px;
    scroll-padding-bottom: 20px;
}

#key-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 2em;
    margin: 10px;
    font-size: 2em;
}

#key-display:focus {
    box-shadow: 0 0 2px 3px var(--focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}

#key-display > emc-keycap {
    font-size: 1em;
}
